DATABASE_URL="postgresql://xolum:change-me@localhost:5432/xolum_sales"
APP_URL="http://localhost:3000"
SESSION_SECRET="replace-with-at-least-32-random-characters"
TMS_API_URL=""
TMS_API_KEY=""
TMS_WEBHOOK_SECRET=""
XOLUM_FISCAL_API_URL=""
XOLUM_FISCAL_API_KEY=""
PAC_PROVIDER=""
PAC_SANDBOX_URL=""
PAC_SANDBOX_USER=""
PAC_SANDBOX_TOKEN=""
PAC_TIMEOUT_MS="30000"
SAT_ARTIFACT_CACHE_DIR="./var/sat"
CSD_CERTIFICATE_PATH=""
CSD_PRIVATE_KEY_PATH=""
CSD_PRIVATE_KEY_PASSWORD=""
