DATABASE_URL="postgresql://xolum:xolum_local_2026@localhost:5432/xolum_sales?schema=public"
APP_URL="http://localhost:3000"
SESSION_SECRET="local-only-change-before-sharing-32-chars"
XOLUM_ALLOW_DEMO_SEED="true"
XOLUM_DEMO_MODE="true"
PAC_PROVIDER="FINKOK"
PAC_ENVIRONMENT="SANDBOX"
PAC_TIMEOUT_MS="15000"
FINKOK_USERNAME=""
FINKOK_PASSWORD=""
TMS_API_URL=""
TMS_API_KEY=""
TMS_WEBHOOK_SECRET=""
XOLUM_FISCAL_API_URL=""
XOLUM_FISCAL_API_KEY=""
SAT_ARTIFACT_CACHE_DIR="./var/sat"
CSD_CERTIFICATE_PATH=""
CSD_PRIVATE_KEY_PATH=""
CSD_PRIVATE_KEY_PASSWORD=""
